<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <button class="btn log-off-btn">Log off</button>
        <main><h1>PROTECTED</h1></main>
        <%- include('partials/footer') %>
        <script>
            const logOffButton = document.querySelector('.log-off-btn');
            logOffButton.addEventListener('click', () => {
                location.assign('/logout');
            });
            console.log(logOffButton);
        </script>
    </body>
</html>
